<p><%= comment.content %></p>
<p>Commented by <%= comment.username %>,
<%= time_ago_in_words(comment.created_at) %> ago</p>
<%= button_to "Delete", comment, method: :delete %>
<%= button_to "Edit", edit_comment_path(comment), method: :get %>
