<div class="box">
<ul>
  <li>
    <%= link_to(user_path(user)) do %>
      <div class="image-container" style="background-image: url('<%= user.image_url %>');"></div>
    <% end %>
  </li>
  <li><%= user.username %></li>
  <li><%= user.first_name %> <%= user.last_name %></li>
  <li><%= user.rank %></li>
  <li><%= user.elo %></li>
  <li><%= user.location %></li>
</ul>
</div>
