<div class="form-container">
<%= form_for @user do |form| %>
  <%= render partial: "app/error", locals: { object: @user } %>

    <%= form.label :username %>
    <%= form.text_field :username %>

    <%= form.label :first_name %>
    <%= form.text_field :first_name %>

    <%= form.label :last_name %>
    <%= form.text_field :last_name %>

    <%= form.label :rank %>
    <%= form.text_field :rank %>

    <%= form.label :bio %>
    <%= form.text_area :bio %>

    <%= form.label :court, "Home Court" %>
    <%= form.collection_select :court_id, Court.all, :id, :name %>

    <%= form.label :image_url %>
    <%= form.text_field :image_url %>

    <%= form.submit %>
<% end %>
</div>
