<h1><%= @user.username %></h1>

<ul>
  <li><%= image_tag @user.image_url %></li>
  <li><%= @user.first_name %> <% @user.last_name %></li>
  <li><%= @user.rank %></li>
  <li><%= @user.elo %></li>
  <li><%= @user.location %></li>
  <li><%= @user.bio %></li>
</ul>

<h3>Match History</h3>

<div>
  <% if current_user.requested?(@user) %> 
    <p> You have an open match request with <%= @user.username %></p>
    <p>
      <%= link_to(
        "Match Request",
        match_request_path(current_user.requested_match(@user))
      ) %>
    </p>
  <% else %>
    <%= link_to(
      "Request a match with #{@user.username}",
      new_user_match_request_path(@user)
    ) %>
  <% end %>
</div>
