<h1><%= @user.username %></h1>

<ul>
  <li><%= image_tag @user.image_url %></li>
  <li><%= @user.first_name %> <% @user.last_name %></li>
  <li><%= @user.rank %></li>
  <li><%= @user.bio %></li>
</ul>

<h3>Match History</h3>

<div>
  <%= link_to "Request a match with #{@user.username}", new_user_match_request_path(@user) %>
