<div class="court-show-container" data-court-id="<%= @court.id %>">
<h1><%= @court.name %></h1>
<p><%= @court.address %></p>
<p>Average Elo: <%= @court.calculate_average_elo %></p>
<% if signed_in? %>
  <p>(<%= @court.distance_to(current_user.court).round(2) %> miles away)</p>
<% end %>
<%= link_to "Delete", court_path(@court), method: :delete %>
<%= link_to "Edit", edit_court_path(@court) %>

<div class="information">
  <div class="court-regulars">
    <h3>Court Regulars</h3>
    <ul>
      <% @court.users.each do |user| %>
        <li>
          <%= link_to user do %>
            <%= user.username %>,
            elo: <%= user.elo %>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="small-map">
    <div id="map"></div>
  </div>
</div>
<div class="comments">
</div>
