<div class="base-container">
<h1>Match Request</h1>

<p>
  <%= link_to @match_request.requester_username, @match_request.requester %>
  (<%= @match_request.requester.elo %>)
  would like to have a match with
  <%= link_to @match_request.opponent_username, @match_request.opponent %>
  (<%= @match_request.opponent.elo %>)
</p>
<p>Message: <%= @match_request.request_message %></p>
  The date and time is set to:
  <%= @match_request.match_at || 'Undecided' %>
</p>

<div>
  <% if @match_request.confirmed? %>
    <p>Match is confirmed</p>
  <% elsif !@match_request.confirmed? && @match_request.opponent == current_user %>
    <%= link_to(
      "Edit Match Time",
      edit_match_request_path(@match_request)
    )%>
    <%= button_to "Accept", match_request_accept_path(@match_request) %>
    <%= button_to(
      "Decline",
      match_request_path(@match_request),
      method: :delete
    )%>
  <% elsif !@match_request.confirmed? && @match_request.player?(current_user) %>
    <%= link_to(
      "Edit Match Time",
      edit_match_request_path(@match_request)
    )%>
    <%= button_to(
      "Cancel",
      match_request_path(@match_request),
      method: :delete
    )%>
  <% end %>
</div>

<div class="comments">
<h2>Comments</h2>

<%= render(
  partial: "comments/form",
  locals: { match_request: @match_request, comment: @comment } 
)%>

<%= render @match_request.get_comments %>
</div>
</div>
