<h1>Match Request</h1>

<p>
  <%= @match_request.requester_username %> would like to have a match with
  <%= @match_request.opponent_username %>
</p>
<p>
  Between <%= @match_request.start_date %> and <%= @match_request.end_date %>
</p>
<p>Message: <%= @match_request.request_message %></p>

<p>
  The Final Date and Time is set to:
  <%= @match_request.match_at || 'Undecided' %>
</p>

<div>
  <%= button_to(
    "Edit Request",
    edit_match_request_path(@match_request), method: :get
  )%>
  <%= button_to "Accept" %>
</div>

<h2>Comments</h2>

<%= render(
  partial: "comments/form",
  locals: { match_request: @match_request, comment: @comment } 
)%>

<%= render @match_request.get_comments %>
