<h1>Match Request</h1>

<p>
  <%= link_to @match_request.requester_username, @match_request.requester %>
  (<%= @match_request.requester_elo %>)
  would like to have a match with
  <%= link_to @match_request.opponent_username, @match_request.opponent %>
  (<%= @match_request.opponent_elo %>)
</p>
<p>
  Between <%= @match_request.start_date %> and <%= @match_request.end_date %>
</p>
<p>Message: <%= @match_request.request_message %></p>
  The Final Date and Time is set to:
  <%= @match_request.match_at || 'Undecided' %>
</p>

<div>
  <% if @match_request.confirmed? %>
    <p>Match is confirmed</p>
  <% elsif !@match_request.confirmed? && @match_request.player?(current_user) %>
    <%= link_to(
      "Set Match Time",
      edit_match_request_path(@match_request)
    )%>
    <%= button_to "Accept", match_request_accept_path(@match_request) %>
    <%= button_to(
      "Decline",
      match_request_path(@match_request),
      method: :delete
    )%>
  <% end %>
</div>

<h2>Comments</h2>

<%= render(
  partial: "comments/form",
  locals: { match_request: @match_request, comment: @comment } 
)%>

<%= render @match_request.get_comments %>
