<div class="match-info">
  <p>
    <%= match.challenger_username %>(<%= match.challenger_elo %>) vs.
    <%= match.defender_username %>(<%= match.defender_elo %>)
  </p>
  <p><%= match.match_at %></p>
  <p><%= link_to "Match Link", match %></p>
  <% if match.winner? %>
    <p><%= match.winner_username %> is the winner</p>
  <% else %>
    <p><%= link_to "Submit Score", edit_match_path(match) %></p>
  <% end %>
</div>
