<div class="base-container">
<h1>Report Your Score</h1>

<%= form_for @match do |f| %>
  <%= f.label :winner %>

  <%= f.label @match.challenger_username %>
  <%= f.radio_button(:winner_id, @match.challenger_id) %>

  <%= f.label @match.defender_username %>
  <%= f.radio_button(:winner_id, @match.defender_id) %>

  <%= f.submit "Report Score" %>
<% end %>
</div>
