<h1><%= @match.challenger_username %> vs. <%= @match.defender_username %></h1>

<p><%= @match.match_at %></p>

<% if @match.winner? %>
  <p><%= @match.winner_username %> is the winner</p>
<% elsif @match.player?(current_user) && !@match.winner? %>
  <p><%= link_to "Submit Score", edit_match_path(@match) %></p>
<% end %>
