<h1><%= current_user.username %>'s Dashboard<h1>

<h3>My Profile</h3>
<p><%= link_to "Edit your profile", edit_user_path(current_user) %></p>
<ul>
  <li><%= image_tag current_user.image_url %></li>
  <li>Name: <%= current_user.first_name %> <%= current_user.last_name %></li>
  <li>Elo: <%= current_user.elo %></li>
  <li>Rank: <%= current_user.rank %></li>
  <li>Description: <%= current_user.bio %></li>
</ul>

<h3>Your Matches</h3>
<%= render current_user.matches %>

<h3>Pending Match Requests</h3>
<h5>Incoming Match Requests</h5>
<ul>
  <% current_user.incoming_match_requests_pending.each do |incoming_match_request| %>
    <li>
      <p><%= incoming_match_request.requester_username %> would like to
      have a match with you.</p>
      <p><%= link_to "Go to Request", incoming_match_request %>
    </li>
  <% end %>
</ul>
<h5>Outgoing Match Requests</h5>
<ul>
  <% current_user.outgoing_match_requests_pending.each do |outgoing_match_request| %>
    <li>
      <p>Request with <%= outgoing_match_request.opponent_username %></p>
      <p><%= link_to "Go to Request", outgoing_match_request %></p>
    </li>
  <% end %>
</ul>

<h3>Match History</h3>

<h3>Match Schedule</h3>
